<div class="widthBanner">
  <div class="changelanguage">English</div>
  <div class="withBanner">
    <div class="withBanner-banner">
      <div class="c-banners">
        <div>
          <img
            src="https://dejban1401.s3.ir-thr-at1.arvanstorage.ir/ipv6-log-in.png"
          />
        </div>
      </div>
    </div>
    <div class="withBanner-content">
      <div class="banner-box">
        <div class="form-title">ورود</div>
        <div class="login">
          <div class="login-input">
            <input  placeholder="نشانی ایمیل" />
            <input placeholder="رمز" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
